<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="page-background">
    <div class="container page" id="page">
        Found <%= pages.length %> result<%= pages.length > 1 ? "s" : "" %> 
        <br><br>
        <% for (let i of pages) { %>
            <a class="search-link" href="/pages/<%= i.title %>">
                <div class="search-result">
                <h5><%= i.title.charAt(0).toUpperCase() + i.title.slice(1).replace(/_/g, " ") %></h5>
                    <%= i.searchDescription %>
                </div>
            </a>
            <!-- <br> -->
        <% } %> 
    </div>
</div>

<%- include('partials/footer')%>